
/* Campos Input */
.nome{
  margin-top: 100px;
}
.cadastro> label{
  font-size: 22px;
}
.form-control{
  width: 400px;
}
.margin-left{
  margin-left: 35px;
}
.border1{
  border: 1px solid black;
}

.saveCancel{
  margin-top: 10%;
  margin-left: 90%;
}