<div class="container">

  <!-- calendario -->
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class=" row justify-content-center align-items-center">
      <div class="row col-3 form-floating">
        <label class = "mt-2 mr-2"for="floatingSelect">Mês</label>
        <input type="date" class="form-control border1">
      </div>

      <!-- dropdown tipo de arquivo -->
      <label class="mt-2 mr-2 service">Tipo de Arquivo</label>
      <select ngModel formControlName="servico_conces"
       class="form-control border1 col-2 mt-2">
        <option value="pdf">PDF</option>
        <option value="img">Imagem</option>
      </select>

      <!-- botão escolher arquivo -->
      <div class="col-4">
        <div class="input-group ml-5 mt-3 mb-3">
          <div class="custom-file">
            <input type="file" class="input form-control"
            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
            formControlName="profile"  (change)="onFileSelect($event)"  aria-label="Upload" multiple
            accept="application/pdf,application/image">
          </div>
        </div>
      </div>

      <!-- submit -->
      <div>
        <input (click)="savePdf()" type="submit" class="enviar mt-2 btn btn-outline-success">
      </div>
    </div>
  </form>

  <!-- <button (click)="get()">teste</button> -->
  <!-- tabela -->
  <form method="get">
    <table class="table table-striped table-selectable">
    <thead>
      <tr class="">
        <td></td>
        <td>Data Contrato</td>
        <td>Tipo de Arquivo</td>
        <td>Visualizar Arquivo</td>
      </tr>
    </thead>
    <!-- Para cada item do backend ele criar uma coluna da tabela -->
    <tbody>
      <tr>
        <td><input type="checkbox" name="linha" value="2"/></td>
        <td>06/2022</td>
        <td>PDF</td>
        <td><button mat-menu-item matTooltip="Visualizar Faturas Cadastradas" matTooltipPosition="above" class="btn-icon">
          <a><img src="https://img.icons8.com/fluency-systems-regular/20/undefined/view-file.png"/></a>
        </button></td>
      </tr>
    </tbody>
  </table>   
  </form>

  <!-- botoes excluir e voltar -->
  <div class="voltar row col-12 justify-content-end">
    <button type="button" class="btn btn-outline-dark">Excluir</button>
    <button type="button" class="btn btn-outline-danger mx-3">Voltar</button>
</div>
