<br>

<div class="container border1" style="background-image: linear-gradient(#a8d1f8, rgb(221, 239, 250))">
  <div class="row mt-2">
    <div>
      <label class="mt-1 ml-3">RGI:</label>
    </div>
    <div class="offset-5">
      <label class="mt-1">Endereço:</label>
    </div>
  </div> 
  <div class="row mt-2">
    <div>
      <label class="mt-1 ml-3">Nome do Cliente:</label>
    </div>
    <div class="offset-4">
      <label class="mt-1 ml-3">Nome da Concessionaria:</label>
    </div>
  </div> 
  <form [formGroup]="form">
    <div class=" teste row my-2 border1">
      <div class="col-2 ml-2">
        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Data" formControlName="data">
        </div>
      </div>
      <div class="col-2">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Período" formControlName="periodo">
        </div>
      </div>
      <div class="col-2">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Consumo total(m³)" formControlName="Consumo total(m³)">
        </div>
      </div>
      <div class="col-2">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Valor da Fatura R$" formControlName="Valor da Fatura">
        </div>
      </div>
    </div>

    <div class="row  pt-2 justify-content-center border1">
      <div class="ml-3 col-3 pl-5 ">
        <label>Detalhamento do Consumo</label>
      </div>
    </div>

    <!-- Campo agua -->
    <div class=" row ml-1">
      <div class="col-6">
        <div class="ml-5 row aguaDetail justify-content-center ">
          <label>Água</label>
        </div>
        <div class="agua row">
          <div class=" row col-4 justify-content-center">
            Consumo (m³)


            <div class="form-group mt-2 mr-2">
              <input type="text" class="form-control border4" placeholder="0 a 10" formControlName="ate10ConsumoAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="11 a 20" formControlName="de11ate20ConsumoAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="21 a 31" formControlName="de21ate30ConsumoAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="31 a 50" formControlName="de31ate50ConsumoAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="Acima de 51" formControlName="acima51ConsumoAgua">
            </div>


          </div>
          <div class="row col-4 justify-content-center">
            Tarifa

            <div class="form-group mt-2 mr-2">
              <input type="text" class="form-control border4" formControlName="ate10TarifaAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de11ate20TarifaAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de21ate30TarifaAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de31ate50TarifaAgua">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="acima51TarifaAgua">
            </div>

          </div>

          <div class="row border3 col-4 justify-content-center">
            Valor R$

            <div class="form-group mt-2">
              <input type="text" class="form-control border4"  formControlName="ate10ValorAgua">
            </div>

            <div class="form-group">
              <input type="text" class="form-control border4" formControlName="de11ate20ValorAgua">
            </div>

            <div class="form-group">
              <input type="text" class="form-control border4" formControlName="de21ate30ValorAgua">
            </div>

            <div class="form-group">
              <input type="text" class="form-control border4" formControlName="de31ate50ValorAgua">
            </div>

            <div class="form-group">
              <input type="text" class="form-control border4" formControlName="acima51ValorAgua">
            </div>

          </div>

        </div>

        <!-- Consumo e valor total Água -->
        <div class="row">
          <div class="ml-5 col-3">

            <div class="form-group mt-2">
              <input type="text" class="form-control border4" placeholder="Total" formControlName="consumoTotalAgua">
            </div>

          </div>


          <div class="col-3 offset-3">

            <div class="form-group mt-2">
              <input type="text" class="form-control border4" placeholder="Total" formControlName="valorTotalAgua">
            </div>

          </div>


        </div>

      </div>

      <!-- Campo Esgoto -->
      <div class="col-6">
        <div class="row esgotoDetail justify-content-center">
          <label>Esgoto</label>
        </div>
        <div class=" esgoto row">
          <div class=" row border2 col-4 justify-content-center">
            Consumo (m³)


            <div class="form-group mt-2 mr-2">
              <input type="text" class="form-control border4" placeholder="0 a 10" formControlName="ate10ConsumoEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="11 a 20" formControlName="de11ate20ConsumoEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="21 a 30" formControlName="de21ate30ConsumoEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="31 a 50" formControlName="de31ate50ConsumoEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" placeholder="Acima de 51" formControlName="acima51ConsumoEsgoto">
            </div>

          </div>


          <div class="row col-4 justify-content-center">
            Tarifa

            <div class="form-group mt-2 mr-2">
              <input type="text" class="form-control border4" formControlName="ate10TarifaEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de11ate20TarifaEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de21ate30TarifaEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="de31ate50TarifaEsgoto">
            </div>

            <div class="form-group mr-2">
              <input type="text" class="form-control border4" formControlName="acima51TarifaEsgoto">
            </div>

          </div>


          <div class=" row col-4 justify-content-center">
            Valor R$


            <div class="form-group mt-2">

              <input type="text" class="form-control border4" formControlName="ate10ValorEsgoto">
            </div>
            <div class="form-group">

              <input type="text" class="form-control border4" formControlName="de11ate20ValorEsgoto">
            </div>
            <div class="form-group">

              <input type="text" class="form-control border4" formControlName="de21ate30ValorEsgoto">
            </div>
            <div class="form-group">

              <input type="text" class="form-control border4" formControlName="de31ate50ValorEsgoto">
            </div>
            <div class="form-group">

              <input type="text" class="form-control border4" formControlName="acima51ValorEsgoto">
            </div>



          </div>
        </div>

        <!-- Consumo e valor total Esgoto -->
        <div class="row">
          <div class="ml-5 offset-1 col-3">

            <div class="form-group consumoTotalEsg mt-2 justify-content-end">
              <input type="text" class="form-control border4" placeholder="Total" formControlName="consumoTotalEsgoto">
            </div>

          </div>

          <div class="col-3 offset-3">

            <div class="valorTotalEsg form-group mt-2">
              <input type="text" class="form-control border4" placeholder="Total" formControlName="valorTotalAgua" >
            </div>

          </div>


        </div>

      </div>
    </div>

    <div class="row my-2 justify-content-center border1">

      <div class="col-3 pl-5 ">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Juros Mora" formControlName="jurosMora">
        </div>


      </div>

      <div class="col-3 pl-5 ">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="At. Monetária"  formControlName="atMonetaria">
        </div>


      </div>

      <div class="col-3 pl-5 ">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Multa" formControlName="multa" formControlName="taxaDeRegulacao">
        </div>


      </div>

      <div class="col-3 pl-5 ">

        <div class="form-group mt-2">
          <input type="text" class="form-control border4" placeholder="Taxa de Regulação" formControlName="taxaDeRegulacao">
        </div>


      </div>

    </div>
    <div class="row justify-content-flex border1">
      <button type="button" class="btn btn-outline-dark mt-2 ml-4 mb-2">Editar</button>
      <button type="button" class="btn btn-outline-dark mt-2 ml-4 mb-2">Excluir</button>
      <button (click)="criarContaAgua()" type="button" class="btn btn-outline-success mt-2 mr-4 mb-2 offset-8">Salvar</button>
      <button type="button" class="btn btn-outline-danger mt-2 mr-4 mb-2">Voltar</button>
    </div>

  </form>
</div>