.tipo_conta {
    background-color: rgb(8, 0, 167); 
}

.text {
    color: azure;
}
.border1{
    border-top: 1px solid black;
  }
.border2{
    border-left: 1px solid black;
}
.border3{
    border-right: 1px solid black;
}
.border4{
    border: 1px solid black;
}