<form [formGroup]="form">
  <div class="inputs row">

    <div class="col-1 offset-2" >
      <label>Nome Completo:</label>
    </div>
    <div class="col-3">
      <input formControlName="nome_uni" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">RG:</label>
    </div>
    <div>
      <input ngModel formControlName="bairro_uni" class=" form-control border1">
    </div>

  </div>

  <div class="mt-4 row">

    <div class="col-1 offset-2" >
      <label>CPF/CNPJ:</label>
    </div>
    <div class="col-3">
      <input formControlName="id_CPF" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">E-mail:</label>
    </div>
    <div>
      <input formControlName="email" ngModel class=" form-control border1">
    </div>

  </div>

  <div class="mt-4 row">

    <div class="col-1 offset-2" >
      <label>Telefone</label>
    </div>
    <div class="col-3">
      <input formControlName="tel_uni" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">Celular</label>
    </div>
    <div>
      <input formControlName="cel_uni" ngModel class=" form-control border1">
    </div>

  </div>

  <div class="mt-4 row">

    <div class="col-1 offset-2" >
      <label>CEP:</label>
    </div>
    <div class="col-3">
      <input formControlName="cep_uni" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">Rua:</label>
    </div>
    <div>
      <input formControlName="rua_uni" ngModel class=" form-control border1">
    </div>

  </div>

  <div class="mt-4 row">

    <div class="col-1 offset-2" >
      <label>Numero:</label>
    </div>
    <div class="col-3">
      <input formControlName="numero_uni" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">Complem.:</label>
    </div>
    <div>
      <input formControlName="complemento_uni" ngModel class=" form-control border1">
    </div>

  </div>

  <div class="mt-4 row">

    <div class="col-1 offset-2" >
      <label>Estado:</label>
    </div>
    <div class="col-3">
      <input formControlName="estado_uni" ngModel class="form-control border1">
    </div>

    <div class="col-1 ">
      <label class="mt-2">Cidade:</label>
    </div>
    <div>
      <input formControlName="cidade_uni" ngModel class=" form-control border1">
    </div>

  </div>

  <div class="row col-12 justify-content-end mt-4">
    <button  type="button" class="btn btn-outline-success mx-3" (click)="criarCliente()">Salvar</button>
    <button  type="button" class="btn btn-outline-danger">Voltar</button>
  </div>
</form>
