<div  *ngIf="verifyLogin()" class="container-fluid fundo-degrade pb-2">
  <div class="row justify-content-between">
    <img src="../../assets/images/tecsus.png" class="tecsus">
    <div class="mr-2 mt-2">
      <label for="name" class="font">Nome do Colaborador(gestor)</label>
    </div> 
  </div>
  <div class="row align-items-center">
    <img src="../../assets/images/powertech.png" class="powertech ml-4">
    <div class="offset-10">
      <a routerLink="login">Sair da conta</a>
    </div>
  </div>
</div>

