<div class="container">
<div class="row justify-content-center">
  <!-- dropdown -->
  <select class="drop-servico col-3 mt-4">
    <option value="" selected hidden>Tipo de Serviço</option>
    <option value="Gás">Gás</option>
    <option value="Energia">Energia</option>
    <option value="Água">Água</option>
  </select>

</div>
<!-- inputs -->

  <div class="nome cadastro row mb-4">
    <div class="cadastro d-flex justify-content-end ">
      <label class="mr-4 ml-4 ">Nome da Concessionária:</label>
    </div>
    <div>
      <input class="input-cinza offset-1 ml-5" type="text" name="Nome">
    </div>

  </div>

  <div class=" cadastro  row justify-content-start ">
    <div class="cadastro d-flex justify-content-end mb-4">
      <label class="mr-5 ml-4">CNPJ:</label>
    </div>
    <div class="ml-4">
      <input type="text" class="input-cinza offset-7 mr-4" name="Nome">
    </div>
  </div>

  <div class=" cadastro  row justify-content-start ">
    <div class="cadastro d-flex justify-content-end mb-4">
      <label class="mr-1 ml-4">Endereço:</label>
    </div>
    <div class="offset-2">
      <input type="text" class=" ml-4 input-cinza" name="Nome">
    </div>
  </div>

  <div class=" cadastro  row justify-content-start ">
    <div class="cadastro d-flex justify-content-end mb-4">
      <label class="mr-4 ml-4">Telefone da Concessionária:</label>
    </div>
    <div>
      <input type="text" class="input-cinza ml-4" name="Nome">
    </div>
  </div>
  <!-- fim inputs -->
  <div class="row  offset-7 col-3 justify-content-end">
    <a href="../administrador.html" class="mr-4">
      <button class="salvar btn-cinza ">Salvar</button>
    </a>
    <button href="#" class="cancelar btn-cinza ml-2">Cancelar

    </button>
  </div>
</div>
