<div class="container-fluid mt-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col">Cep</th>
        <th scope="col">Endereco</th>
        <th scope="col">Complemento</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <!-- Para cada item do backend ele criar uma coluna da tabela -->
    <tbody *ngFor="let cliente of clientes2">
      <tr>
        <td>{{cliente.nome_uni}}</td>
        <td>{{cliente.id_cpf}}</td>
        <td>{{cliente.cep_uni}}</td>
        <td>{{cliente.rua_uni}}</td>
        <td>{{cliente.complemento}}</td>
        <td>
          <div class="row ml-1">

            <button mat-menu-item matTooltip="Editar" matTooltipPosition="above" class="btn-icon">
              <a><i class="bi bi-pencil-square"></i></a>
            </button>
            <button mat-menu-item matTooltip="Excluir" matTooltipPosition="above" class="btn-icon"
            (click)="openDialog()">
              <a><i class="bi bi-trash"></i></a>
            </button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
