/* Fonte padrao */
@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  }

*{
    font-family: "Inter-Regular";
}

/* Header */
.bg-primary-color{
    background: linear-gradient(89.17deg, #D5FEE2 0%, #E7D1FF 100%);
}

.logo {
    width: 272px;
    height: 48px;
}

.logo2{
    width: 125px;
    height: 129px;
}

/* Dropdown */
.servico{
    padding: 10px;
    font-size: 27px;
    background-color: #C4C4C4;
}

/* tabs */
li > a{
    color: black;
    text-align: center;
    margin: 10px 3rem 0px 3rem ;
    font-size: 22px;
    width: 200px;
    height: 82px;
    background: #C4C4C4;
    font-family: 'Inter';
    margin-left: 2rem;
}

/* Campos Input */
.nome{
    margin-top: 150px;
}
.cadastro> label{
    font-size: 22px;
}

input{
    font-size: 22px;
    background-color: #C4C4C4;
    border: 0px;
    border-radius: 12px;
    width: 40rem;
    height: 35px;
}

button{
    cursor: pointer;
    background-color: #C4C4C4;
    border: 0px;
    padding:14px 24px ;
 
}
.redondo{
    border-radius:12px ;
    font-size: 20px;
}

button:hover{
    background-color: #ada7a7;
}
