<br>

<div class="container border1" style="background-image: linear-gradient(#b5f8a8, rgb(226, 250, 221))">
  <div class="row mt-2">
    <div>
      <label class="mt-1 ml-3 mr-1">Código de Usuário:</label>
    </div>
    <div class="offset-4">
      <label class="mt-1">Endereço:</label>
    </div>
  </div> 
  <div class="row mt-2">
    <div>
      <label class="mt-1 ml-3">Nome do Cliente:</label>
    </div>
    <div class="offset-4">
      <label class="mt-1 ml-3">Nome da Concessionaria:</label>
    </div>
  </div> 
  <div >
    <div class="row border1 mb-3">
      <label for="numero" class="mt-3 mr-3 ml-2">Mês de referência</label>
      <input class="form-control input2 margin6 border2" type="numero" autocomplete="0ff">
      <label for="valor" class="mt-3 mr-3 ml-3">Dias de consumo</label>
      <input class="form-control input2 margin6 border2" type="numero" autocomplete="0ff">
      <label for="consumo" class="mt-3 ml-5 mr-3">Valor da Fatura</label>
      <input class="form-control input2 margin7 border2" type="numero" autocomplete="0ff" placeholder="R$">
    </div>
  </div>
  <div class="row justify-content-center border1">
    <div class="mt-2">
      <label>Detalhamento do Consumo e tarifa</label>
    </div>
  </div>
    <div class="row mb-3">
      <label for="numero" class="mt-3 mr-3 ml-2">Consumo Faturado</label>
      <input class="form-control input2 ml-2 border2" type="numero" autocomplete="0ff" placeholder="m³">
      <label for="valor" class="mt-3 mr-3 ml-3  ">Tarifa ICMS</label>
      <input class="form-control input2 margin1 border2" type="numero" autocomplete="0ff">
      <label for="consumo" class="mt-3 ml-5 mr-3">Fornecimento Gás</label>
      <input class="form-control input2 ml-2 border2" type="numero" autocomplete="0ff">
    </div>

  <div class="row justify-content-center mt-2 border1">
    <div>
      <label>Impostos</label>
    </div>
  </div>
  <div class="justify-content-around mb-3">
    <div class="row">
      <label for="valor"class="mt-3 mr-4 ml-2">Base de Calculo</label>
      <input class="form-control input2 ml-3 border2" type="numero" autocomplete="0ff">
      <label for="consumo" class="mt-3 mr-4 ml-4">ICMS%</label>
      <input class="form-control input2 margin4 border2" type="numero" autocomplete="0ff">
      <label for="valor"class="mt-3 mr-4 ml-5">Valor ICMS  </label>
      <input class="form-control input2 margin5 border2" type="numero" autocomplete="0ff">
    </div>
    <div class="row">
      <label for="consumo" class="mt-3 mr-5 ml-2">Valor PIS</label>
      <input class="form-control input2 margin3 border2" type="numero" autocomplete="0ff" placeholder="R$">
      <label for="consumo" class=" mt-3 mr-3 ml-4 ">Valor COFINS  </label>
      <input class="form-control input2 margin2 border2" type="numero" autocomplete="0ff" placeholder="R$">
    </div>
    <div class="row">
      <label for="consumo" class="mt-3 mr-3 ml-2">Impostos Estaduais</label>
      <input class="form-control input2 ml-1 border2" type="numero" autocomplete="0ff">
      <label for="consumo" class=" mt-3 mr-3 ml-4">Impostos Federais</label>
      <input class="form-control input2 ml-1 border2" type="numero" autocomplete="0ff">
      <label for="valor" class=" mt-3 ml-5 mr-4">Total de Impostos</label>
      <input class="form-control input2 ml-2 border2" type="valor" autocomplete="0ff" placeholder="R$">
    </div>
  </div>



  <div class="row justify-content-flex border1">
      <button type="button" class="btn btn-outline-dark mt-2 ml-4 mb-2">Editar</button>
      <button type="button" class="btn btn-outline-dark mt-2 ml-4 mb-2">Excluir</button>
      <button type="button" class="btn btn-outline-success mt-2 mr-4 mb-2 offset-8">Salvar</button>
      <button type="button" class="btn btn-outline-danger mt-2 mr-4 mb-2">Voltar</button>
  </div>
  
</div>


