select{
  height: 2.3rem;
}

.tipo_conta {
  background-color: rgb(173, 0, 0); 
}

.text {
  color: azure;
}
.border1{
  border-top: 1px solid black;
}
.border2{
  border: 1px solid black;
}
.border3{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}