<div class="container-fluid">

  <div class="row mt-2 border-bottom justify-content-center">
    <label class="mt-1">Código de Usuário</label>
    <input class="ml-2  input-cinza input1" type="numero" autocomplete="0ff">
  </div>

  <div class="row border-top justify-content-center ">
    <div>
      <label>Detalhamento do Consumo e tarifa</label>
    </div>
  </div>
  <div class="row justify-content-around">
    <div>
      <label for="numero">Consumo Faturado</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="valor">Tarifa ICMS</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="consumo">Fornecimento Gás</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
  </div>
  <div class="row border-bottom justify-content-around">
    <div>
      <label for="valor">Dados tarifários</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="consumo">Fixo</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="numero">Variável</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
  </div>
  <div class="row border-top justify-content-center ">
    <div>
      <label>Impostos</label>
    </div>
  </div>
  <div class="row justify-content-around">
    <div>
      <label for="valor">Valor PIS</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="consumo">Impostos Federais</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
  </div>
  <div class="row justify-content-around">
    <div>
      <label for="valor">Valor CONFINS</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
    <div>
      <label for="consumo">Impostos Estaduais</label>
      <input class="input-cinza input2" type="numero" autocomplete="0ff">
    </div>
  </div>

  <div class="row border-bottom">
    <div class="col-6">
      <label for="numero">Valor da fatura</label>
      <input class="input-cinza input3" type="numero" autocomplete="0ff">
    </div>
    <div class="col-6">
      <label for="valor">Total de Impostos</label>
      <input class="input-cinza input3" type="valor" autocomplete="0ff">
    </div>

  </div>
</div>

<div class="row border-top justify-content-end">
  <a href="../administrador.html" class="mr-4">
    <button class="salvar input-cinza ">Salvar</button>
  </a>
  <button href="#" class="cancelar input-cinza ml-2">Cancelar

  </button>
</div>
