<div class="row mt-4">
  <div class="col-2 ">
    <label for="numero">Descrição do Produto</label>
  </div>
  <div class="col-2 ">
    <label for="valor">Valor fornecido</label>
  </div>
  <div class="col-2 ">
    <label for="consumo">Valor ICMS</label>
  </div>
  <div class="col-2 ">
    <label for="numero">Valor PIS</label>
  </div>
  <div class="col-2 ">
    <label for="valor">Valor COFINS</label>
  </div>
  <div class="col-2 ">
    <label for="consumo">Valor Total</label>
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <label for="numero">TUSD - Consumo</label>
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="consumo" id="consumo" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <label for="numero">TE - Consumo</label>
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="consumo" id="consumo" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>

<div class="row my-1">
  <div class="col-2">
    <label for="numero">Adicional Bandeira Escassez Hidrica</label>
  </div>
  <div class="col-2 offset-8 justify-content-end">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>
<div class="row ">
  <div class="col-2">
    <label for="numero">Itens Financeiros</label>
  </div>
</div>
<div class="row ">
  <div class="col-2">
    <label for="numero">TE - Consumo</label>
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="consumo" id="consumo" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
  <div class="col-2">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>
<div class="row my-1">
  <div class="col-2">
    <label for="numero">Tributos</label>
  </div>
  <div class="col-2 offset-8 justify-content-end">
    <label for="numero">Valor (R$)</label>
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <label for="numero">PIS</label>
  </div>
  <div class="col-2 offset-8 justify-content-end">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <label for="numero">COFINS</label>
  </div>
  <div class="col-2 offset-8 justify-content-end">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <label for="numero">ICMS</label>
  </div>
  <div class="col-2 offset-8 justify-content-end">
    <input class="input-cinza" type="valor" id="valor" autocomplete="0ff">
  </div>
</div>

<div class="row col-10 justify-content-end">
  <a class="mr-4">
    <button class="btn-cinza">Salvar</button>
  </a>
  <button class="btn-cinza ml-2">Cancelar
  </button>
</div>

<!-- <app-pdf-view></app-pdf-view> -->
