  
<div class="row justify-content-center mt-3">
  <label for="numero" class=" mr-3 mt-3">CPF/CNPJ</label>
  <input class="col-3 form-control border1 mt-1" type="valor">
  <label for="numero" class="offset-3 mr-3 mt-3">Pesquisar por</label>
  <select class="form-control col-3 mt-2">
    <option value="" selected hidden></option>
    <option value="Gás">Contrato</option>
    <option value="Energia">Unidade</option>
    <option value="Água">Concessionaria</option>
  </select>
</div>

<div class="row justify-content-center">
  <div class="mt-2">
    <button class="btn btn-outline-primary">Buscar</button>
  </div>
</div>

<div class="container-fluid mt-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Contrato</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo de serviço</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Opções</th>
        <th scope="col">Alerta</th>
      </tr>
    </thead>
    <!-- Para cada item do backend ele criar uma coluna da tabela -->
    <!-- <tbody *ngFor="let cliente of clientes"> -->
    <tbody>
      <tr>
        <td>123456</td>
        <td>Lucas E.C.da Costa</td>
        <td>Água</td>
        <td>Bartolomeu</td>
        <td>1044</td>
        <td><div class="row ml-1">
          <button mat-menu-item matTooltip="Informação de Contrato" matTooltipPosition="above" class="btn-icon">
            <a><img src="https://img.icons8.com/fluency-systems-regular/20/undefined/signing-a-document.png"/></a>
          </button>
          <button mat-menu-item matTooltip="Gerênciador de Arquivos" matTooltipPosition="above" class="btn-icon">
            <a><img src="https://img.icons8.com/ios/20/undefined/opened-folder.png"/></a>
          </button>
          <button mat-menu-item matTooltip="Dashboard" matTooltipPosition="above" class="btn-icon">
            <a><img src="https://img.icons8.com/ios/20/undefined/bar-chart--v1.png"/></a>
          </button>
          <button mat-menu-item matTooltip="Adicionar Fatura no Sistema" matTooltipPosition="above" class="btn-icon">
            <a><img src="https://img.icons8.com/ios/20/undefined/agreement-new.png"/></a>
          </button>
          <!-- <button mat-menu-item matTooltip="Excluir" matTooltipPosition="above" class="btn-icon">
            <a><i class="bi bi-trash"></i></a>
          </button> -->

        </div>
      </td>
        <td>
          <div class="row ml-1">
            <button mat-menu-item matTooltip="Atenção" matTooltipPosition="above" class="btn-icon">
              <a><img src="https://img.icons8.com/F32300/material-outlined/20/undefined/box-important--v1.png"/></a>
            </button>
            <button mat-menu-item matTooltip="Ok" matTooltipPosition="above" class="btn-icon">
              <a><img src="https://img.icons8.com/09BA00/fluency-systems-regular/20/undefined/checked--v1.png"/></a>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
