
<div class="d-flex justify-content-center mt-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo de Arquivo</th>
            <th scope="col">Visualizar Arquivo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">04/2022</th>
            <td>PDF</td>
            <td><button mat-menu-item matTooltip="Visualizar Faturas Cadastradas" matTooltipPosition="above" class="btn-icon">
                <a><img src="https://img.icons8.com/fluency-systems-regular/20/undefined/view-file.png"/></a>
              </button></td>
          </tr>
          <tr>
            <th scope="row">05/2022</th>
            <td>PDF</td>
            <td><button mat-menu-item matTooltip="Visualizar Faturas Cadastradas" matTooltipPosition="above" class="btn-icon">
                <a><img src="https://img.icons8.com/fluency-systems-regular/20/undefined/view-file.png"/></a>
              </button></td>
          </tr>
          <tr>
            <th scope="row">06/2022</th>
            <td>PDF</td>
            <td><button mat-menu-item matTooltip="Visualizar Faturas Cadastradas" matTooltipPosition="above" class="btn-icon">
                <a><img src="https://img.icons8.com/fluency-systems-regular/20/undefined/view-file.png"/></a>
              </button></td>
          </tr>
        </tbody>
      </table>
</div>
