 <!-- Contrato -->
 <body>

  <div class="nome row justify-content-center mb-4">
      <div class=" col-5 d-flex justify-content-end ">
          <label class="mr-4">CPF/CNPJ</label>
      </div>
      <div class="col">
          <input class="input-cinza" type="text" name="Nome">
      </div>

  </div>


<div class="nome row justify-content-center mb-4">
    <div class=" col-5 d-flex justify-content-end ">
        <label class="mr-4">Endereço do Contrato</label>
    </div>
    <div class="col">
        <input class="input-cinza" type="text" name="Nome">
    </div>

</div>

<div class="row justify-content-center pb-4">
  <select class="drop-servico col-3">
      <option value="" selected hidden>Tipo do Contrato</option>
      <!-- <option value="Gás">Gás</option> -->
      <option value="Energia">Energia</option>
      <option value="Água">Água</option>
  </select>

</div>

<div class=" cadastro row justify-content-start ">
    <div class="cadastro col-5 d-flex justify-content-end mb-4">
        <label class="mr-5">Nome da Concessionária</label>
    </div>
    <div class="col">
        <input class="input-cinza" type="text" name="Nome">
    </div>
</div>

<div class=" cadastro  row justify-content-start ">
    <div class="cadastro col-5 d-flex justify-content-end mb-4">
        <label class="mr-4">Nº da Instalação (RGI)</label>
    </div>
    <div class="col">
        <input  type="text" class="input-cinza" name="Nome">
    </div>

</div>
<div class="row  offset-7 col-3 pb-4 justify-content-end">
    <label class="mr-2 ">Adicionar outro contrato</label>
    <a class="mr-4">
        <button class="add_cont"><i class="fa-solid fa-plus"></i></button>
    </a>
</div>

<div class="row  offset-7 col-3 justify-content-end">
    <a href="../administrador.html" class="mr-4">
        <button class="btn-cinza">Salvar</button>
    </a>
    <button href="#" class="btn-cinza ml-2">Cancelar</button>
</div>
