 <!-- Contrato -->
 <div class=" mt-5 row mb-4">
    <div class="col-6 cadastro ">
      <label class="offset-8 mt-2">CPF/CNPJ:</label>
    </div>
    <div>
      <input class="form-control ml-5 border1" type="text" name="Nome">
    </div>
  </div>

  <div class="mt-3 row mb-4">
    <div class="col-6 cadastro justify-content-end ">
      <label class="offset-8 mt-2">Endereço do Contrato:</label>
    </div>
    <div>
      <input class="form-control offset-1 ml-5 border1" type="text" name="Nome">
    </div>
  </div>

  <div class="col-9 cadastro justify-content-end mt-2 ml-3">
    <label class="offset-5">Tipo de Serviço</label>
  <select  formControlName="concessionaria" class="form-select margin1 border1">
      <option>Água</option>
      <option>Energia</option>
      <option>Gás</option>
    </select>
  </div>

<div class="mt-3 row mb-4">
    <div class="col-6 cadastro justify-content-end mt-1">
      <label class="offset-8">Nome da Concessionária:</label>
    </div>
    <div>
      <input class="form-control offset-1 ml-5 mt-2 border1" type="text" name="Nome">
    </div>
  </div>

  <div class="mt-3 row mb-4">
    <div class="col-6 cadastro justify-content-end ">
      <label class="offset-8">Instalação (RGI):</label>
    </div>
    <div>
      <input class="form-control offset-1 ml-5 border1" type="text" name="Nome">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="row col-12 justify-content-end mt-4">
    <button  type="button" class="btn btn-outline-success mx-3 mt-2">Salvar</button>
    <button  type="button" class="btn btn-outline-danger mt-2">Voltar</button>
  </div>