<div class="row justify-content-center mt-3">
  <table class="table col-1">
    <thead>
      <tr>
        <th class="row justify-content-center">Periodo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="row justify-content-center">
          <a href="">04/2022</a>
        </th>
      </tr>
      <tr>
        <th class="row justify-content-center">
          <a href="">05/2022</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<!-- voltar -->
<div class="voltar row col-12 justify-content-end">
  <button type="button" class="btn btn-outline-danger mx-3">Voltar</button>
</div>
