<div class="container-fliud mt-2">
  <div class="row border-bottom my-2 justify-content-center">
    <div class="col-4 ">
      <label for="numero">RGI</label>
      <input class="ml-3 input-cinza input2" type="numero" autocomplete="0ff">
    </div>
  </div>

  <div class="row my-2 justify-content-center">
    <div class="col-3 pl-5 ">
      <label>Detalhamento do Consumo</label>
    </div>
  </div>
  <!-- Campo agua -->
  <div class="row  border">
    <div class="col-6">
      <div class="row justify-content-center  ">
        <label>Água</label>
      </div>
      <div class="row justify-content-evenly">
        <div class="">
          Consumo
        </div>
        <div class="">
          Tarifa
        </div>
        <div class="">
          Valor
        </div>
      </div>
    </div>
<!-- Campo Esgoto -->
    <div class="col-6">
      <div class="row justify-content-center  ">
        <label>Esgoto</label>
      </div>
    </div>
  </div>



</div>
